= render 'groups/content-left'

.content-right
  .group
    %p.group__name グループ名
    %p.group__member MEMBER: メンバー名
    %p.group__btn Edit

  = render 'chat'

  .bottom-content
    .submit
      %p.submit__content type a message
      %i.fa.fa-file-image-o
    %p.submit__btn Send
