%div

  %div{class: "content-left"}
    %div{class: "user-name"}
      %p ログインユーザー名

    - for i in 1..3 do
      %div{class: "groups"}
        %p{class: "groups__name"} グループ一覧
        %p{class: "groups__message"} 最新チャット内容

  %div{class: "content-right"}
    %div{class: "group"}
      %h2{class: "group__name"} グループ名
      %p{class: "group__member"} MEMBER: メンバー名

    %div{class: "btn__edit"}
      %p edit

    - for i in 1..3 do
      %div{class: "chat"}
        %p{class: "chat__user"} 各ユーザー名
        %p{class: "chat__date"} 各チャット送信日時
        %p{class: "chat__content"} 各チャット内容

    %div{class: "submit"}
      %p{class: "submit__content"} 送信内容
      %p{class: "submit__button"} Send



