.content-left
  .user-name
    %p
      = current_user.name
    = link_to new_group_path do
      %i.fa.fa-edit
    = link_to edit_user_registration_path do
      %i.fa.fa-cog

  = render partial: 'groups/group-list', collection: @groups, as: :group
