= render 'content-left'

.content-right
  .group
    %p.group__name グループを選択してください
    %p.group__member MEMBER:

  .bottom-content
    .submit
      %input{ class: "submit__content", placeholder: 'グループを選択してください'}
    %i.fa.fa-file-image-o
    %p.submit__btn Send
