= render 'content-left'

.content-right
  .group
    %p.group__name グループを選択してください
    %p.group__member MEMBER:


  .bottom-content
    .submit
      %p.submit__content グループを選択してください
      %i.fa.fa-file-image-o
