.alert-error {
    background-color: red;
    color: $white;
    text-align: center;
 }

.alert-alert {
    background-color: red;
    color: $white;
    text-align: center;
 }

.alert-success {
    background-color: $blue;
    color: $white;
    text-align: center;
 }

.alert-notice {
    background-color: $blue;
    color: $white;
    text-align: center;
 }
