.content-right {
  background-color: $white;
  width: calc(100vw - 300px);
  height: 100vh;
  color: #434A54;
  float: right;
  position: relative;
}

.group {
  padding: 30px 40px 5px 40px;
  border-bottom: solid 1px;
  border-color: #AAAAAA;
  position: relative;
  &__name {
    font-size: 20px;
    color: #333333;
    padding-bottom: 10px;
  }
  &__member {
    font-size: 12px;
    color: $light-gray;
  }
  &__btn {
    @include btn();
    border: solid;
    border-color: $blue;
    color: $blue;
    line-height: 40px;
    top: 28px;
  }
}

.chat {
  padding: 40px 40px 0px 40px;
  &__user {
    font-weight: bold;
    font-size: 16px;
    color: $deep-blue;
    float: left;
    padding-right: 10px;
    line-height: 16px;
  }
  &__date {
    float: left;
    font-size: 12px;
    color: #999999;
    line-height: 16px;
  }
  &__content {
    clear: both;
    padding-top: 10px;
    font-size: 14px;
    color: $deep-blue;
  }
}

.bottom-content {
  background-color: gray;
  padding: 25px 40px;
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 380px);
}

.submit {
  background-color: $white;
  position: relative;
  width: calc(100vw - 500px);
  &__content {
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
    font-size: 16px;
    color: $light-gray;
    width: calc(100vw - 510px);
    border: 0px;
  }
  &__btn {
    @include btn();
    background-color: $blue;
    color: white;
    line-height: 50px;
    bottom: 25px;
    border: $blue;
    cursor: pointer;
  }
}
