.pop-up {
  text-align: center;
  background-color: #38AEF0;
  color: white;
  display: none;

}

.content-left {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  float: left;
  position: relative;
}

.user-name {
  background-color: black;
  padding: 35px 20px;
  font-weight: bold;
  font-size: 16px;
}

.fa {
  position: absolute;

  &-edit{
    left: 250px;
    top: 40px;
  }
  &-cog {
    left: 270px;
    top: 40px;
  }
  &-file-image-o {
    line-height: 50px;
    right: 10px;
  }

}

.groups {
  padding: 20px 20px 40px 20px;
  &__name {
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__message {
    font-size: 11px;
  }
}

.content-right {
  background-color: white;
  width: calc(100vw - 300px);
  height: 100vh;
  color: #434A54;
  float: right;
  position:relative;
}

.group {
  padding: 30px 40px 5px 40px;
  border-bottom: solid 1px;
  border-color: #AAAAAA;
  position: relative;
  &__name {
    font-size: 20px;
    color: #333333;
    padding-bottom: 10px;

  }
  &__member {
    font-size: 12px;
    color: #999999;

  }
  &__btn {
    display: inline-block;
    padding: 0 20px;
    border: solid;
    border-color: #38AEF0;
    color: #38AEF0;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 40px;
    top: 28px;
  }
}

.chat {
  padding: 46px 40px 40px 40px;
  &__user {
    font-weight: bold;
    font-size: 16px;
    color: #434A54;
    float: left;
    padding-right: 10px;
    line-height: 16px;
  }
  &__date {
    float: left;
    font-size: 12px;
    color: #999999;
    line-height: 16px;

  }
  &__content {
    clear: both;
    padding-top: 10px;
    font-size: 14px;
  }
}

.bottom-content {
  background-color: gray;
  padding: 25px 40px;
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 380px);
}

.submit {
  background-color: white;
  position: relative;
  width: calc(100vw - 500px);
  &__content {
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
    font-size: 16px;
    color: #999999;
  }
}
.bottom-btn {
    position: absolute;
    display: inline-block;
    padding: 0 20px;
    background-color: #38AEF0;
    color: white;
    text-align: center;
    line-height: 50px;
    right: 40px;
    bottom: 25px;
}
